@keyframes transform
    0%
       background: #fff
    50%
       background: #888
    100%
       background: #333

@keyframes slide-down    
    0%
        top: -120vh
         transform: scaleY(0)
    10%
        height: 100%
    100%
        top: 0
        transform: scaleY(1)        
@keyframes slide-up    
    0%
        top: 0
        
    100%
        top: -120vh
        