@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800&display=swap')
*,*::before,*::after
  margin: 0
  padding: 0
  box-sizing: border-box
body, html  
  width: 100%
  height: 100%
  font-size: 10px
  font-family: 'Montserrat', sans-serif
body
  overflow-x: hidden
ul, li
  list-style: none
a
  text-decoration: none
  color: #000
button
  outline: none
  border: none
  background: transparent
  cursor: pointer
img
  width: 100%
.mobile-menu-btn
  display: none
.btn
  display: inline-block
  background: #ffffff
  color: #333
  text-transform: uppercase
  padding: 1.5rem 8rem
  font-size: 1.4rem
  font-weight: 700
  border-radius: 0.5rem
  +activate
