.header-section
    width: 100%
    min-height: 100vh
    background: url(../img/golf03.jpg) center no-repeat
    background-size: cover
    
.mobile-nav
    display: none

.desktop-nav
    img
        max-width: 7rem