@media (min-width: 768px)
    .desktop-nav
        .nav-list
            display: flex
    .header-section
        background: url(../img/golf-hero_lg.jpg)no-repeat center
        background-size: cover
    .nav-container
        width: 75%
        left: 12%
@media (min-width: 960px)
    .nav-container
        width: 60%
        left: 20%

@media (max-width: 767px)    
    .mobile-nav
        .nav-list
            display: block
    .mobile-menu-btn
        display: block

