.social-link img
    filter: invert(100%)
.payment-article
    li a
        overflow: hidden
.cimbbank-logo
    display: block
    width: 100px
    height: 70px
    background: $white
    object-fit: cover    
    border-radius: 5px
    img
        width: 100%