header   
    background: linear-gradient(45deg,rgba($brown,0.1),rgba($brown,0.2)),url(../img/hero_img.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    min-height: 90vh