@import url('https://fonts.googleapis.com/css?family=Audiowide|Roboto:400,900&display=swap')
*,*::before,*::after
  margin: 0
  padding: 0
  box-sizing: border-box
body, html
  font-size: 10px
  width: 100%
  height: 100%
body
  background-image: linear-gradient(-20deg,$black 45%,transparent 45%, transparent 100%)
  background-repeat: no-repeat
  font-family: Roboto, sans-serif
  overflow-x: hidden
.container
  width: 75%
  margin: 0 auto
  display: flex
  flex-direction: column  
  min-height: 100vh
  overflow: hidden  
@media (max-width:1300px)
    .container
       width: 90%
@media (max-width:1000px)
    .container
       width: 96%
ul
  list-style-type: none
a
  text-decoration: none
  color: $gray

.yellow-stripe
    background-image: linear-gradient(160deg,transparent 0,transparent 65%, $yellow 65%,$yellow 80%,transparent 80%, transparent 100%)
    position: absolute
    bottom: 0
    right: 0
    height: 20vw
    width: 40vw
    z-index: 10
    
    

@mixin activate
  &:active
      transform: translateY(1px) scale(0.98)

