main
    display: flex  
    justify-content: space-between  
    min-height: 100vh  
    background-image: url(../img/traction-banner.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: center 120%

@media (max-width:1500px)
    background-position: center 200%
.heading
    position: relative
    display: flex    
    flex-direction: column
    justify-content: space-around
    height: 75vh
    
    h1       
        font-size: 8rem
        font-weight: 900        
        width: 7em
        color: #333
        line-height: 0.9
    p
        margin-top: -6em
        font-size: 1.6rem
        width: 20em
        color: #333
        line-height: 1.5
        letter-spacing: 0.1rem
.cta-btn
    background: $black  
    color: $yellow
    font-size: 1.8rem
    outline: none
    border: none
    border-radius: 5px
    width: 7em 
    display: flex
    align-items: center
    justify-content: center
    height: 3em
    margin-bottom: 15rem
    +activate
@media (max-width:1300px)
    .cta-btn
        margin-bottom: 20rem
.page-indicators 
    position: absolute
    bottom: -13rem
    display: flex
    width: 20rem
    justify-content: space-around    
    &_item
        a
            border-radius: 50%
            display: block
            width: 1rem
            height: 1rem            
            background: #cccccc
            &.active
                width: 1.5rem
                height: 1.5rem 
                margin-top: -0.3rem
                background: transparent
                border: 2px solid #ccc
@media (max-width: 1600px)
    .page-indicators
        bottom: -21rem