.second-page
    width: 100%
    height: 100%
    background: rgba($gray,0.5)
    background-image: url(../img/shoe_jump.png) 
    background-size: cover
    background-repeat: no-repeat
    overflow: hidden
    .wrapper
        height: 100%        
       
        

.zoom
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -55%)
    width: 80vw
    height: 60vh
    padding: 1rem
    border-style: solid
    border-width: 1.5em
    border-image: url(../img/four.svg) 
    border-image-slice: 50%
    border-image-width: 4em    
    &-inside
        background-image: linear-gradient(to bottom, rgba(#fff,0.3), transparent)
        border-radius: 1.5rem   
        width: 100%
        height: 100%  

.thunder-button
    @extend .like-button
    
    img
        transform: rotate(30deg)

.product-card    
    margin-top: 80vh
    margin-left: 5vw
    width: 80%    
    background: #fff
    border-radius: 1.5rem
    padding: 1.5rem
    display: flex
    align-items: center
    &_img
        width: 25%
        overflow: hidden
        border-radius: 1.5rem
        margin-right: 2rem
        
        

